:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}

div.AppContainer
{
  padding: 20px; 
  font-family: Arial, sans-serif; 
  max-width: 500px; 
  margin: 50px auto; 
  text-align: center;
}

div.HeaderContainerTitle
{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.HeaderContainerTitle p
{
  color: #666666;
  font-size: 14px;
}

form.SearchForm
{
  margin-bottom: 20px;
}

form.SearchForm input[type="text"]
{
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

form.SearchForm button
{
  padding: 10px 20px;
  cursor: pointer;
  background-color: #666666;
  color: white;
  border: none;
}

div.ResponsePanel
{
  color: #171717;
  border: 1px solid rgb(221, 221, 221); 
  padding: 20px; 
  border-radius: 8px; 
  background-color: rgb(249, 249, 249); 
  margin-top: 20px;  
}

div.ResponsePanel h3
{
  margin-bottom: 10px;
}

div.AddressResult{ 
  text-align: left;
}

div.AddressResult ul{
  list-style: none; 
  padding: 0;
}